
.icon-phone:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-mail:before { content: '\f27b'; } /* '' */
.icon-facebook:before { content: '\f30e'; } /* '' */
